/* universal style */
* {
    margin: 0;
    padding: 0;
}

.text-color {
    color: rgba(233, 90, 8, 1);
}

.bg-color {
    background-color: rgba(233, 90, 8, 1);
}

.bg-size {
    padding: 30px 150px;
}

/* header section style  */
nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

.disable {
    color: gray;
}

/* banner  section style */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-top: 160px;
    padding-bottom: 50px;
}

.banner-left {
    width: 450px;
}

.banner p {
    padding: 20px 0px;
    color: rgba(37, 36, 50, 0.5);
    line-height: 6vh;
    font-size: 1.2rem;
}

.p-style {
    margin: 20px auto;
    width: 600px;
    color: rgba(37, 36, 50, 0.5);
    line-height: 5vh;
    font-size: 1.1rem;
}

/* plants  section style */
.plants-all-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    row-gap: 30px;
    padding: 20px 0px 0px;
}

.plants-text {
    text-align: center;
}

.plants p {
    margin: 20px auto;
    width: 600px;
    color: rgba(37, 36, 50, 0.5);
    line-height: 5vh;
    font-size: 1.1rem;
}

.card-text {
    text-align: center;
}

.card-button {
    padding: 5px 80px;
}

.card-text-h3 {
    padding: 20px;
}

/* plants-lover  section style */
.plants-lover-main {
    display: flex;
    margin: 150px auto 50px;
}

.plants-lover-main h1 {
    font-size: 60px;
}

.plants-lover-main .right {
    width: 500px;
    margin: 10px 0px 10px 50px;
}

.plants-lover-main .right ul {
    padding: 0px 20px 20px 40px;
    color: rgb(128, 128, 128);
    font-size: 1.2rem;
}

.plants-lover-main .right ul li {
    padding: 5px 0;
}

/* trusted-badge style  */
.trusted-badge {
    position: absolute;
    padding-left: 500px;
    margin-top: 80px;
    filter: drop-shadow(-3px 10px 1.5px rgba(0, 0, 0, 0.25));
}

/* latest-deal section style */
.latest-deal-img {
    display: flex;
    gap: 20px;
    align-items: center;
}

.latest-deal-img img {
    border-radius: 20px
}

.deal {
    border-radius: 20px;
}

.deal-text {
    display: grid;
    color: white;
    text-align: center;
    padding: 75px 0px;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 20px;
}

.deal-img3 .deal-text {
    padding: 171px 0px;
}

.deal-img1 {
    background-image: url(image/deal-bloom.png);
    background-repeat: no-repeat;
    height: 200px;
    width: 350px;
    margin-bottom: 20px;
}

.deal-img2 {
    background-image: url(image/deal-ana.png);
    background-repeat: no-repeat;
    height: 200px;
    width: 350px;
}

.deal-img3 {
    background-image: url(image/deal-zabo.png);
    background-repeat: no-repeat;
    height: 420px;
    width: 650px;
}

/* Join section style */
.join {
    background-image: url(image/news-letter-bg.png);
    background-repeat: no-repeat;
    height: 400px;
    padding-top: 150px
}

.join-sub {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.join .input {
    background-color: white;
    width: 500px;
    padding: 10px;
    padding-left: 20px;
}

.join .subscribe {
    padding: 7px 50px;
}

/* footer section style */
footer {
    display: flex;
    padding: 30px 150px;
    padding-top: 50px;

}

.size {
    width: 33%;
}

.size2 {
    width: 34;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon li {
    padding-left: 50px;
}

.footer-nav ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}

.footer-nav ul li {
    padding: 0px 20px 20px 40px;
    color: rgb(128, 128, 128);
    font-size: 1rem;
}

footer .text {
    width: 300px;
    color: rgba(37, 36, 50, 0.5);
    line-height: 6vh;
    font-size: 1.2rem;
    padding-top: 15px;
}